name: Docker Image CI

on:
  #release:
  push:
    branches: [ main ]
  #pull_request:
  #  branches: [ main ]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - id: pre-step
      shell: bash
      run: |
        echo "release-version=${{ github.ref }}" >> $GITHUB_ENV
        echo "commit-sha=${{ github.sha }}" >> $GITHUB_SHA
 #   - name: Set up Docker Buildx
  #    uses: docker/setup-buildx-action@v2
    - name: Compile translations
      run: |
        pip install Flask-Babel
        pybabel compile -d hl7validator/translations || true

    - name: Log in to Docker registry
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build and push image
      run: |
        chmod +x docker/build.sh
        IMAGE_NAME="${{ secrets.DOCKER_USERNAME }}/hl7v2-validator" \
        IMAGE_TAG="latest" \
        ./docker/build.sh --push
